*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;

    /* background: linear-gradient(45deg, #2c2c2cab, #206778); */

    background: url(https://img.freepik.com/free-vector/torn-style-coming-soon-promo-template-social-media-post_1017-55783.jpg?semt=ais_hybrid&w=740&q=80) no-repeat;
    background-position: center;
    background-size: contain;
}

.datebox{
    
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
      color: navy;
}

.datebox .box{
    border: 2px solid black;
    width: 80px;
    height: 80px;

     font-size: 30px;
     font-weight: 700;
     text-align: center;
     line-height: 2.1;

}