*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    border: 2px solid;
    justify-content: space-between;
    height: 100px;
  color: white;
    background: linear-gradient(45deg,blue,pink);
}

nav .logo{
    align-self: center;
}

nav .menu{
    align-self: center;
}

nav .menu ul {
    display: flex;
  
     border: 2px solid;
}

nav .menu ul li {
    list-style: none;
    margin-right: 30px;
}