* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    border: 2px solid;
    grid-template-columns: 250px auto;
    grid-template-rows: 70px auto 70px;
    grid-template-areas: "header header"
        "aside main"
        "aside footer"
    ;

    height: 100vh;

}

header {
    border: 2px solid red;
    background: #3021244c;
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

header button {
    align-self: center;
}

aside {
    border: 2px solid blue;
    grid-area: aside;
    background: #96923d4c;
}

main {
    border: 2px solid green;
    grid-area: main;
    overflow: scroll;
    background: #5bcb6a6b;
    z-index: -1;
}

footer {
    border: 2px solid yellow;
    grid-area: footer;
    background: #7646584c;
}

 .fa-bars {
       display: none;
    }
@media screen and (max-width:500px) {

    body {
        display: grid;
        border: 2px solid;
        grid-template-columns: auto;
        grid-template-rows: 70px auto 70px;
        grid-template-areas: "header"
            "main"
            "footer";

        height: 100vh;
        position: relative;
    }

    .fa-bars {
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
    }

    #bars-click:checked~aside {
        top: -100px;
        transition: 1s;
    }

    aside {
        position: absolute;
        border: 2px solid blue;
        top: 70px;
        z-index: 9999;
        background: #8c861efe;
        width: 100%;
        transition: 1s;
    }

    main {
        border: 2px solid green;
        grid-area: main;
        overflow: scroll;
        background: #5bcb6a6b;
        position: absolute;
        z-index: -1;
    }


}